.card-table {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.card-list {
  flex-grow: 1;
  display: grid;
  gap: 30px 45px;
  grid-template-columns: repeat(auto-fill, 475px);

}