.card {
  border-radius: 20px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
  padding: 25px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(173, 169, 169);
  min-width: 100%;
}

.card--warm {
  background-color: #fffaf1;
}

.card--cold {
  background-color: #f1f2ff;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-header__left {
  font-size: 20px;
  margin-top: 20px;
}

.card-header__date {
  margin-top: 10px;
  text-transform: capitalize;
} 

.card-header__right {
  display: flex;
  flex-direction: column;
}

.xmark-icon-container {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-end;
}

.weather-description {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: flex-start;
}

.weather-icon-container {
  width: 45px;
  height: 45px;
}

.weather-icon-container img {
  max-width: 100%;
  max-height: 100%;  
}

.card-chart {
  width: 280px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-footer__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  font-size: 20px;
}

.temp-real {
  display: flex;
  gap: 10px; 
  justify-content: space-between;
}

.temp-real_value {
  font-size: 40px;
  padding-top: 5px;
}

.temp-real_value:first-letter {
text-transform: capitalize;
}

.temp-real_sign {
  font-size: 22px;
}


.temp-feel {
  color: #c5c5c5;
}

.temp-feel:first-letter {
text-transform: capitalize;
}

.card-footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
  font-size: 20px;
  text-transform: capitalize;
}

.card-footer__right span {
  text-transform: none;
}

.card-footer__right span.warm {
  color: #ffa25b;
}

.card-footer__right span.cold {
  color: #459de9;
}