.temp-real_sign {
  display: flex;
  color: #c5c5c5;
  cursor: pointer;
}

.direct {
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.celcius-sign {
  margin: 0 7px;
}

.farenheit-sign {
  margin: 0 7px;
}

.celcius-sign--active {
  color: #000;
  pointer-events: none;
}
.farenheit-sign--active {
  color: #000;
  pointer-events: none;
}