.header{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.body {
  margin-top: 80px;
  margin-bottom: 80px;
}

.header__input{
  width: 450px;
  height: 30px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1.5rem;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);

}

.body .btn {
  margin-left: 15px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background: #459de9;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.3);
}